@import url("https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css");

:root {
    --main-bg: #d1d5db;
    --main-accient-color: #edeff0;
    --font-accient-color: #cecfd0;
    --main-black-color: #f4f4f4;
}

.App {
    text-align: center;
    background-color: var(--main-bg);
}
