@import url("https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css");

:root {
    --main-bg: #f4f4f4;
    --main-accient-color: #edeff0;
    --font-accient-color: #cecfd0;
    --main-black-color: #f4f4f4;
}

body {
    background-color: var(--main-bg);
}

.main_container {
    height: 80vh;
    width: 55vh;
    background-color: var(--main-bg);
    border: 2px var(--main-accient-color);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
