:root {
    /* Цвета для тёмной темы */
    --main-bg: #212529;
    --main-accient-color: #fff;
    --main-bg-accient: #212529;
}

.main-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: #f7f7f7; /* Серый фон */
    height: 98vh;
    padding: 15px;
    border: 1px solid #ccc; /* Ободок по периметру */
}

.left-container {
    width: 32%; /* Установите ширину левого контейнера */
    background-color: #fff; /* Белый фон */
    border: 1px solid #ccc; /* Ободок по периметру */
    padding: 20px;
}

.right-container {
    width: 60%; /* Установите ширину правого контейнера */
    background-color: #fff; /* Белый фон */
    border: 1px solid #ccc; /* Ободок по периметру */
    padding: 20px;
}
