:root {
    /* Цвета для тёмной темы */
    --main-bg: #212121;
    --main-accient-color: #fff;
    --main-bg-accient: #212529;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    background-color: var(--main-bg);
}

.main-panel {
    width: 80%;
    height: 95%;
    margin: 20px;
    margin-left: 150px;

    box-sizing: border-box;
    border-radius: 15px;
    background-color: var(--main-accient-color);
}
