:root {
    /* Цвета для тёмной темы */
    --main-bg: #212529;
    --main-accient-color: #fff;
    --main-bg-accient: #212529;
}

.body {
    background-color: var(--main-bg);
}

.container {
    position: relative;
}

.left-container {
    background-color: var(--main-bg-accient);
    float: left;
    width: 50vh;
    height: 97vh;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid var(--main-accient-color);
    position: relative;
}
